
@font-face {
  font-family: "sansserif";
  src: local("sansserif"), url(/assets/assets/fonts/sansserif/OpenSans-Regular.ttf) format("truetype");
}

:root {
  --brown: #ba7124;
  --blue: #32444b;
  --green: #47b92a;
  --red: #ff2b2b;
  --gray-1: #f9f9f9;
  --gray-2: #4e5a51;
}

body {
  font-family: sansserif;
 
}

.color-theme {
  color: var(--brown) !important;
}
.bg-theme {
  background-color: var(--gray-1) !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.btn-theme {
  background-color: var(--brown);
  color: white !important;
}
.btn-theme:hover,
.btn-theme:focus {
  background-color: rgba(186, 113, 36, 0.5);
}
.btn-ghost {
  background-color: white;
  color: var(--brown);
  border: 1px solid var(--brown);
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--brown);
  background-color: var(--brown);
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0px 0px 0px 0.2rem rgba(186, 113, 36, 25);
}
.label-required::after {
  content: " *";
  color: red;
}
.form-control {
  border-radius: 0.4rem;
  border-color: var(--gray-3);
  font-size: 0.75rem;
  font-weight: 300;
  height: 2.2rem;
}
.form-control:focus {
  border-color: var(--brown);
  box-shadow: 0rem 0.4rem 0.8rem rgba(186, 113, 36, 0.5);
}
::placeholder {
  color: var(--gray-3);
  font-style: italic;
}
.input-icon {
  width: 1.125rem;
  position: absolute;
  margin-left: 0.75rem;
  margin-top: 0.75rem;
}
.input-icon + .form-control {
  padding-left: 2.5rem;
}
#loader {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.5);
}
.loader {
  border: 0.7vw solid transparent;
  border-radius: 50%;
  border-top-color: var(--brown);
  position: fixed;
  top: 50%;
  left: 50%;
}
.loader1 {
  width: 2.5vw;
  height: 2.5vw;
  animation: spin 0.4s linear infinite;
}
.loader2 {
  width: 5vw;
  height: 5vw;
  animation: spin 0.8s linear infinite;
}
.loader3 {
  width: 7.5vw;
  height: 7.5vw;
  animation: spin 1.2s linear infinite;
}
.loader4 {
  width: 10vw;
  height: 10vw;
  animation: spin 1.6s linear infinite;
}
.loader5 {
  width: 12.5vw;
  height: 12.5vw;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.cursor-pointer {
  cursor: pointer;
}
@media (min-width: 2560px) {
  html {
    font-size: 24px;
  }
  .container {
    max-width: 1600px;
  }
}
@media (min-width: 3840px) {
  html {
    font-size: 32px;
  }
  .container {
    max-width: 1980px;
  }
}
ul
{
  padding-left: 0;
  list-style: none;
}
.fs-13
{
  font-size: 0.8125rem;
}
.fs-14
{
  font-size:0.875rem;
}
.fs-15
{
  font-size: 0.9375rem;
}
.fs-16
{
  font-size: 1rem;
}
.fs-17
{
  font-size: 1.0625rem;
}
.fs-18
{
  font-size: 1.125rem;
}






