<div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4 dashboard">
          <div class="col-md-12 project row">
            <div class="card w-100 border-0 bg-transparent">
              <div class="d-flex align-items-center small-block">
                
                <div class="project-list-names ml-2 py-3 d-flex demo-inline-spacing col-md-9">
                  <div class="avatar bg-warning avatar-lg">
                    <span class="avatar-content">NP</span>
                  </div>
                  <div class="avatar bg-light-success avatar-lg">
                    <span class="avatar-content">NP</span>
                  </div>
                  <div class="avatar bg-light-success avatar-lg">
                    <span class="avatar-content">NP</span>
                  </div>
                  <div class="avatar bg-light-success avatar-lg">
                    <span class="avatar-content">NP</span>
                  </div>
                  <div class="avatar bg-light-success avatar-lg">
                    <span class="avatar-content">NP</span>
                  </div>
                  <div class="avatar bg-light-success avatar-lg">
                    <span class="avatar-content">NP</span>
                  </div>
                  <div class="avatar bg-light-success avatar-lg">
                    <span class="avatar-content">NP</span>
                  </div>
                  <div class="avatar bg-light-success avatar-lg">
                    <span class="avatar-content">NP</span>
                  </div>
                  <div class="avatar bg-light-success avatar-lg">
                    <span class="avatar-content">NP</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center addition-digit">
                    <span class="avatar-content">+24</span>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-12">
                  <div class="
                  search-project
                      position-relative
                      w-100
                      px-0
                      btn-group
                    ">
                    <input type="search" class="w-100" placeholder="Search Projects">

                    <img src="../assets/loupe.png" class="search-icon">
                  </div>
                </div>
              </div>
            </div>
            <div class="card w-100 mt-3 border-0">
              <div class="card-header bg-transparent p-0 border-0">
                <ul class="nav tabs order-tabs pl-2">
                  <li class="nav-item active">
                    <a class="nav-link text-secondary-befullifilled fw-600 px-1 mx-3 "
                      >Projects</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary-befullifilled px-1  mx-3"
                      >Task Name</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary-befullifilled px-1  mx-3"
                      >Status</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary-befullifilled px-1  mx-3">Notes</a>
                  </li>
                </ul>
                <div class="order-tab"></div>
              </div>
              
            </div>
            <div class="project-columns d-flex pt-5">
              <div class="col">
                <h6 class="title fw-600 ">
                  Project Manufacture
                </h6>
                <div class="main-card">
                  <div class="card  p-2 border-0">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <h6 class="title fw-600 ">
                  Project Manufacture
                </h6>
                <div class="main-card">
                  <div class="card  p-2 border-0">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="card  p-2 border-0 mt-3">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
                  </div>
                  <div class="card  p-2 border-0 mt-3">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <h6 class="title fw-600 ">
                  Project Manufacture
                </h6>
                <div class="main-card">
                  <div class="card  p-2 border-0">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="card  p-2 border-0 mt-3">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
                  </div>
                  <div class="card  p-2 border-0 mt-3">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <h6 class="title fw-600 ">
                  Project Manufacture
                </h6>
                <div class="main-card">
                  <div class="card  p-2 border-0">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="card  p-2 border-0 mt-3">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
                  </div>
                  <div class="card  p-2 border-0 mt-3">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <h6 class="title fw-600 ">
                  Project Manufacture
                </h6>
                <div class="main-card">
                  <div class="card  p-2 border-0">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="card  p-2 border-0 mt-3">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
                  </div>
                  <div class="card  p-2 border-0 mt-3">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>