body {
  background: #f9f9f9;
}

.pt-100 {
  padding-top: 4.44rem;
}
.dashboard {
  padding-top: 2.66rem;
}
.search-icon {
  position: absolute;
  right: 1.11rem;
  bottom: 0.66rem;
}
.btn-default {
  background: white;
}
.text-secondary-befullifilled {
  color: #c8bfb5;
  padding: 0.44rem 0.44rem;
  cursor: pointer;
}
.order-tabs li.active a:after,
.order-tabs li:hover a::after {
  content: "";
  border-bottom: 0.13rem solid #ee9c6a;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.44rem;
  right: 0;
}
.order-tabs li {
  border-bottom: 0.08rem solid transparent;
  padding: 0 0.53rem;
}
.order-tabs li:hover a,
.order-tabs li.active a {
  color: #ee9c6a;
  position: relative;
}
.search-order::-webkit-input-placeholder {
  /* Edge */
  color: #e1dcd7;
}

.search-order:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e1dcd7;
}

.search-order input::placeholder {
  color: #e1dcd7;
}
.rounded-3 {
  border-radius: 0.44rem;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0.44rem;
}
.page-link {
  color: #000;
}
.page-step.page-link {
  border-color: #ee9c6a;
  color: #ee9c6a;
}
.page-link:hover,
.page-link.active {
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #ee9c6a;
  border-color: #ee9c6a;
}
.bg-orange-radious {
  background: #fcf0ea;
  color: #000;
  padding: 0.17rem 0.53rem;
  border-radius: 0.84rem;
}

.text-order {
  color: #a7a7a7;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0.04rem solid #ddd;
}
.track_tbl th,
.track_tbl td {
  border: none !important;
  vertical-align: middle !important;
}
.track_tbl.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}

.bullet {
  width: 0.88rem;
  height: 0.88rem;
  display: inline-block;
  border-radius: 50%;
}
.bullet.bullet-success {
  background: #69d95e;
}
.bullet.bullet-danger {
  background: #e63838;
}
.mw-200 {
  max-width: 14.88rem;
}
.round {
  border-radius: 1.5rem;
  font-size: 0.66rem;
}
.btn-outline-warning {
  color: #ee9c6a;
  border-color: #ee9c6a;
}
.btn-outline-warning:hover {
  color: #fff;
  background-color: #ee9c6a;
  border-color: #ee9c6a;
}
.details-row {
  width: 30%;
}
.search-text {
  border: 0.04rem solid #eee;
  padding: 0.5rem 0.4rem;
  border-radius: 0.22rem;
  width: 15.43rem;
  height: 2.1rem;
}

.search-text:focus-visible {
  outline: 0;
}
.btn-outline-warning:not(:disabled):not(.disabled):active:focus {
  color: #fff;
}
.btn-outline-warning:focus,
.btn-outline-warning.focus {
  box-shadow: none;
}
.py-2 {
  padding-bottom: 0.4rem !important;
}
