<div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4 dashboard">
          <div class="card my-2 border-0">
            <div class="card-header bg-transparent p-0 py-2">
              <div class="d-flex justify-content-between align-items-center">
                <ul class="nav tabs order-tabs pt-2">
                  <li class="nav-item active">
                    <a
                      class="
                        nav-link
                        text-secondary-befullifilled
                        fw-600
                        px-1
                        mx-3
                      "
                      >Project</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary-befullifilled px-1 mx-3"
                      >Task Name</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary-befullifilled px-1 mx-3"
                      >Status</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link text-secondary-befullifilled px-1 mx-3"
                      tabindex="-1"
                      aria-disabled="true"
                      >Notes</a
                    >
                  </li>
                </ul>
  
                <div
                  class="
                    search-project
                    position-relative
                    px-0
                    btn-group
                    py-1
                    mr-3
                  "
                >
                  <input
                    type="search"
                    class="search-text"
                    placeholder="Search Projects"
                  />
  
                  <img src="../assets/loupe.png" class="search-icon" />
                </div>
              </div>
            </div>
  
            <div class="card-body px-2">
              <div style="overflow-x: auto">
                <table class="table table-striped track_tbl border-0">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Project Name</th>
                      <th>Date</th>
                      <th>Customer</th>
                      <th>Items</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="small py-2">
                      <td>
                        <span
                          class="
                            bullet bullet-success
                            font-small-3
                            mr-50
                            cursor-pointer
                          "
                        ></span>
                      </td>
                      <td>
                        <span class="fw-600">Project Name</span>
                      </td>
                      <td><span>Today at 4.09 pm</span></td>
                      <td><span>Trisen Foster</span></td>
  
                      <td><span>5 items</span></td>
                      <td class="details-row">
                        <div class="d-flex">
                          <span
                            class="text-truncate mw-200 d-inline-block my-auto"
                            title="Lorem lpsum is simply dummy text of the printing
                        and typesetting industry
                        Lorem lpsum is simply dummy text of the printing
                        and typesetting industry"
                          >
                            Lorem lpsum is simply dummy text of the printing and
                            typesetting industry Lorem lpsum is simply dummy text
                            of the printing and typesetting industry
                          </span>
                          <button
                            type="button"
                            class="btn btn-outline-warning round ml-2 px-3" routerLink="/dashboard/projectDetails"
                          >
                            Details
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr class="small py-2">
                      <td>
                        <span
                          class="
                            bullet bullet-success
                            font-small-3
                            mr-50
                            cursor-pointer
                          "
                        ></span>
                      </td>
                      <td>
                        <span class="fw-600">Project Name</span>
                      </td>
                      <td><span>Today at 4.09 pm</span></td>
                      <td><span>Trisen Foster</span></td>
  
                      <td><span>5 items</span></td>
                      <td class="details-row">
                        <div class="d-flex">
                          <span
                            class="text-truncate mw-200 d-inline-block my-auto"
                            title="Lorem lpsum is simply dummy text of the printing
                        and typesetting industry
                        Lorem lpsum is simply dummy text of the printing
                        and typesetting industry"
                          >
                            Lorem lpsum is simply dummy text of the printing and
                            typesetting industry Lorem lpsum is simply dummy text
                            of the printing and typesetting industry
                          </span>
                          <button
                            type="button"
                            class="btn btn-outline-warning round ml-2 px-3"
                          >
                            Details
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr class="small py-2">
                      <td>
                        <span
                          class="
                            bullet bullet-success
                            font-small-3
                            mr-50
                            cursor-pointer
                          "
                        ></span>
                      </td>
                      <td>
                        <span class="fw-600">Project Name</span>
                      </td>
                      <td><span>Today at 4.09 pm</span></td>
                      <td><span>Trisen Foster</span></td>
  
                      <td><span>5 items</span></td>
                      <td class="details-row">
                        <div class="d-flex">
                          <span
                            class="text-truncate mw-200 d-inline-block my-auto"
                            title="Lorem lpsum is simply dummy text of the printing
                        and typesetting industry
                        Lorem lpsum is simply dummy text of the printing
                        and typesetting industry"
                          >
                            Lorem lpsum is simply dummy text of the printing and
                            typesetting industry Lorem lpsum is simply dummy text
                            of the printing and typesetting industry
                          </span>
                          <button
                            type="button"
                            class="btn btn-outline-warning round ml-2 px-3"
                          >
                            Details
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr class="small py-2">
                      <td>
                        <span
                          class="
                            bullet bullet-success
                            font-small-3
                            mr-50
                            cursor-pointer
                          "
                        ></span>
                      </td>
                      <td>
                        <span class="fw-600">Project Name</span>
                      </td>
                      <td><span>Today at 4.09 pm</span></td>
                      <td><span>Trisen Foster</span></td>
  
                      <td><span>5 items</span></td>
                      <td class="details-row">
                        <div class="d-flex">
                          <span
                            class="text-truncate mw-200 d-inline-block my-auto"
                            title="Lorem lpsum is simply dummy text of the printing
                        and typesetting industry
                        Lorem lpsum is simply dummy text of the printing
                        and typesetting industry"
                          >
                            Lorem lpsum is simply dummy text of the printing and
                            typesetting industry Lorem lpsum is simply dummy text
                            of the printing and typesetting industry
                          </span>
                          <button
                            type="button"
                            class="btn btn-outline-warning round ml-2 px-3"
                          >
                            Details
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr class="small py-2">
                      <td>
                        <span
                          class="
                            bullet bullet-success
                            font-small-3
                            mr-50
                            cursor-pointer
                          "
                        ></span>
                      </td>
                      <td>
                        <span class="fw-600">Project Name</span>
                      </td>
                      <td><span>Today at 4.09 pm</span></td>
                      <td><span>Trisen Foster</span></td>
  
                      <td><span>5 items</span></td>
                      <td class="details-row">
                        <div class="d-flex">
                          <span
                            class="text-truncate mw-200 d-inline-block my-auto"
                            title="Lorem lpsum is simply dummy text of the printing
                        and typesetting industry
                        Lorem lpsum is simply dummy text of the printing
                        and typesetting industry"
                          >
                            Lorem lpsum is simply dummy text of the printing and
                            typesetting industry Lorem lpsum is simply dummy text
                            of the printing and typesetting industry
                          </span>
                          <button
                            type="button"
                            class="btn btn-outline-warning round ml-2 px-3"
                          >
                            Details
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr class="small py-2">
                      <td>
                        <span
                          class="
                            bullet bullet-success
                            font-small-3
                            mr-50
                            cursor-pointer
                          "
                        ></span>
                      </td>
                      <td>
                        <span class="fw-600">Project Name</span>
                      </td>
                      <td><span>Today at 4.09 pm</span></td>
                      <td><span>Trisen Foster</span></td>
  
                      <td><span>5 items</span></td>
                      <td class="details-row">
                        <div class="d-flex">
                          <span
                            class="text-truncate mw-200 d-inline-block my-auto"
                            title="Lorem lpsum is simply dummy text of the printing
                        and typesetting industry
                        Lorem lpsum is simply dummy text of the printing
                        and typesetting industry"
                          >
                            Lorem lpsum is simply dummy text of the printing and
                            typesetting industry Lorem lpsum is simply dummy text
                            of the printing and typesetting industry
                          </span>
                          <button
                            type="button"
                            class="btn btn-outline-warning round ml-2 px-3"
                          >
                            Details
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr class="small py-2">
                      <td>
                        <span
                          class="
                            bullet bullet-success
                            font-small-3
                            mr-50
                            cursor-pointer
                          "
                        ></span>
                      </td>
                      <td>
                        <span class="fw-600">Project Name</span>
                      </td>
                      <td><span>Today at 4.09 pm</span></td>
                      <td><span>Trisen Foster</span></td>
  
                      <td><span>5 items</span></td>
                      <td class="details-row">
                        <div class="d-flex">
                          <span
                            class="text-truncate mw-200 d-inline-block my-auto"
                            title="Lorem lpsum is simply dummy text of the printing
                        and typesetting industry
                        Lorem lpsum is simply dummy text of the printing
                        and typesetting industry"
                          >
                            Lorem lpsum is simply dummy text of the printing and
                            typesetting industry Lorem lpsum is simply dummy text
                            of the printing and typesetting industry
                          </span>
                          <button
                            type="button"
                            class="btn btn-outline-warning round ml-2 px-3"
                          >
                            Details
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr class="small py-2">
                      <td>
                        <span
                          class="
                            bullet bullet-success
                            font-small-3
                            mr-50
                            cursor-pointer
                          "
                        ></span>
                      </td>
                      <td>
                        <span class="fw-600">Project Name</span>
                      </td>
                      <td><span>Today at 4.09 pm</span></td>
                      <td><span>Trisen Foster</span></td>
  
                      <td><span>5 items</span></td>
                      <td class="details-row">
                        <div class="d-flex">
                          <span
                            class="text-truncate mw-200 d-inline-block my-auto"
                            title="Lorem lpsum is simply dummy text of the printing
                        and typesetting industry
                        Lorem lpsum is simply dummy text of the printing
                        and typesetting industry"
                          >
                            Lorem lpsum is simply dummy text of the printing and
                            typesetting industry Lorem lpsum is simply dummy text
                            of the printing and typesetting industry
                          </span>
                          <button
                            type="button"
                            class="btn btn-outline-warning round ml-2 px-3"
                          >
                            Details
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr class="small py-2">
                      <td>
                        <span
                          class="
                            bullet bullet-success
                            font-small-3
                            mr-50
                            cursor-pointer
                          "
                        ></span>
                      </td>
                      <td>
                        <span class="fw-600">Project Name</span>
                      </td>
                      <td><span>Today at 4.09 pm</span></td>
                      <td><span>Trisen Foster</span></td>
  
                      <td><span>5 items</span></td>
                      <td class="details-row">
                        <div class="d-flex">
                          <span
                            class="text-truncate mw-200 d-inline-block my-auto"
                            title="Lorem lpsum is simply dummy text of the printing
                        and typesetting industry
                        Lorem lpsum is simply dummy text of the printing
                        and typesetting industry"
                          >
                            Lorem lpsum is simply dummy text of the printing and
                            typesetting industry Lorem lpsum is simply dummy text
                            of the printing and typesetting industry
                          </span>
                          <button
                            type="button"
                            class="btn btn-outline-warning round ml-2 px-3"
                          >
                            Details
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr class="small py-2">
                      <td>
                        <span
                          class="
                            bullet bullet-success
                            font-small-3
                            mr-50
                            cursor-pointer
                          "
                        ></span>
                      </td>
                      <td>
                        <span class="fw-600">Project Name</span>
                      </td>
                      <td><span>Today at 4.09 pm</span></td>
                      <td><span>Trisen Foster</span></td>
  
                      <td><span>5 items</span></td>
                      <td class="details-row">
                        <div class="d-flex">
                          <span
                            class="text-truncate mw-200 d-inline-block my-auto"
                            title="Lorem lpsum is simply dummy text of the printing
                        and typesetting industry
                        Lorem lpsum is simply dummy text of the printing
                        and typesetting industry"
                          >
                            Lorem lpsum is simply dummy text of the printing and
                            typesetting industry Lorem lpsum is simply dummy text
                            of the printing and typesetting industry
                          </span>
                          <button
                            type="button"
                            class="btn btn-outline-warning round ml-2 px-3"
                          >
                            Details
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr class="small py-2">
                      <td>
                        <span
                          class="
                            bullet bullet-success
                            font-small-3
                            mr-50
                            cursor-pointer
                          "
                        ></span>
                      </td>
                      <td>
                        <span class="fw-600">Project Name</span>
                      </td>
                      <td><span>Today at 4.09 pm</span></td>
                      <td><span>Trisen Foster</span></td>
  
                      <td><span>5 items</span></td>
                      <td class="details-row">
                        <div class="d-flex">
                          <span
                            class="text-truncate mw-200 d-inline-block my-auto"
                            title="Lorem lpsum is simply dummy text of the printing
                        and typesetting industry
                        Lorem lpsum is simply dummy text of the printing
                        and typesetting industry"
                          >
                            Lorem lpsum is simply dummy text of the printing and
                            typesetting industry Lorem lpsum is simply dummy text
                            of the printing and typesetting industry
                          </span>
                          <button
                            type="button"
                            class="btn btn-outline-warning round ml-2 px-3"
                          >
                            Details
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
  
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info text-order ml-2">
                    0 selected/7,928 total
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <nav aria-label="Page navigation example ">
                    <ul class="pagination float-right">
                      <li class="page-item">
                        <a
                          class="page-link rounded-3 page-step"
                          aria-label="Previous "
                        >
                          <span aria-hidden="true">«</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item mx-2">
                        <a class="page-link rounded-3 active">1</a>
                      </li>
                      <li class="page-item mx-2">
                        <a class="page-link rounded-3">2</a>
                      </li>
                      <li class="page-item mx-2">
                        <a class="page-link rounded-3">3</a>
                      </li>
                      <li class="page-item mx-2">
                        <a class="page-link rounded-3">4</a>
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link rounded-3 page-step"
                          aria-label="Next"
                        >
                          <span aria-hidden="true">»</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  