<div id="loader">
  <div class="loader loader1"></div>
  <div class="loader loader2"></div>
  <div class="loader loader3"></div>
  <div class="loader loader4"></div>
  <div class="loader loader5"></div>
</div>

<router-outlet></router-outlet>

<app-modal modalId="errorModal" modalSize="sm">
  <div
    class="d-flex flex-fill justify-content-between align-items-center"
    header
  >
    <h1 class="modal-heading fw-500 mb-0">Error</h1>
  </div>

  <div body>
    <span id="errorModalText" class="text-danger"></span>
  </div>

  <button
    footer
    type="button"
    class="btn btn-outline-danger mx-auto"
    data-dismiss="modal"
    data-target="#errorModal"
  >
    OK
  </button>
</app-modal>

<app-modal modalId="successModal" modalSize="sm">
  <div
    class="d-flex flex-fill justify-content-between align-items-center"
    header
  >
    <h1 class="modal-heading fw-500 mb-0">Congratulations!</h1>
  </div>

  <div body>
    <span id="successModalText"></span>
  </div>

  <button
    footer
    type="button"
    class="btn btn-outline-success mx-auto"
    data-dismiss="modal"
    data-target="#successModal"
  >
    Okay
  </button>
</app-modal>
