<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card border-0">
      <div class="card-body">
        <form #loginForm="ngForm" novalidate (ngSubmit)="onLogin(loginForm)">
          <div class="login-form p-4">
            <div class="title-login text-center">
              <img src="../assets/assets/logo1.png" class="user-img" />
              <h3>Login</h3>
            </div>
            <div class="form-content">
              <div class="form-group">
                <label class="d-block m-0">Enter Email Id</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  [(ngModel)]="email"
                  name="email"
                  #emailField="ngModel"
                  required="true"
                />
                <div
                  *ngIf="loginForm.submitted || emailField.touched || emailField.dirty"
                >
                  <div *ngIf="emailField.invalid" class="invalid-feedback d-block">
                    Email ID is required
                  </div>
                </div>
              </div>
              <div class="login-field">
                <label class="d-block m-0">Enter Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  [(ngModel)]="password"
                  name="password"
                  #passwordField="ngModel"
                  required="true"
                />
                <div
                  *ngIf="
                    loginForm.submitted || passwordField.touched || passwordField.dirty
                  "
                >
                  <div
                    *ngIf="passwordField.invalid"
                    class="invalid-feedback d-block"
                  >
                    Password is required
                  </div>
                </div>
              </div>
            </div>
            <div class="Button-carry text-center mt-3">
              <button class="btn btn-primary" type="submit" value="Submit">
                Login
              </button>
              <!-- <button class="btn1" type="button" value="submit">
                Register
              </button> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>

<!-- <div class="text-right">
  <div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form #loginForm="ngForm" novalidate (ngSubmit)="onLogin()">
                    <h1 class="login">Login</h1>
                    <h2 class="heading">Sign In to your account</h2>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="bi bi-person-circle"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="username"
                        placeholder="Username"
                        autocomplete="username"
                        name="username"
                        [(ngModel)]="userName"
                        #UserName="ngModel"
                        required
                      />
                      <div
                        *ngIf="UserName.touched && !UserName.valid"
                        class="invalid-tooltip"
                      >
                        Username is required!
                      </div>
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="bi bi-lock"></i
                        ></span>
                      </div>
                      <input
                        type="password"
                        class="form-control"
                        required
                        id="password"
                        placeholder="Password"
                        autocomplete="password"
                        [(ngModel)]="password"
                        #passwordField="ngModel"
                        name="password"
                        required="true"
                      />
                      <div
                        *ngIf="
                          loginForm.submitted ||
                          passwordField.touched ||
                          passwordField.dirty
                        "
                      >
                        <div
                          *ngIf="passwordField.invalid"
                          class="invalid-feedback d-block"
                        >
                          Password is required
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <button type="submit" class="btn1 btn-primary px-4">
                        Login
                      </button>
                      <div class="text-right">
                        <button
                          type="button"
                          class="btn btn-link px-0"
                          routerLink="/forgotPassword"
                        >
                          Forgot password?
                        </button>
                      </div>
                      <button
                        type="button"
                        class="btn2 btn-primary px-4"
                        style="width: 150px; position: left"
                        routerLink="/register"
                      >
                        Register
                      </button>
                    </div>
 <div class="row"> 
                      <div class="col-md-3">
                        <a class="btn btn-outline-dark" href="/users/googleauth" role="button" style="text-transform:none">
                          <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        </a>
                      </div>
                    </div> -->

<!-- </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div> -->
