.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 20px 15px;
  background: #fbfbfb;
  border: 0;

  border-radius: 9px;
}
.login-form input:focus {
  outline: 0;
}
.Button-carry .btn {
  width: 60%;
  background: #ee9c6a;
  padding: 15px;
  font-size: 16px;

  border: 0;

  border-radius: 9px;
}

.Button-carry .btn:focus,
.Button-carry .btn:active {
  border: 0 !important;
  background-color: #ee9c6a !important;
  box-shadow: none !important;
}
.Button-carry .btn:hover {
  border-radius: 40px;
  transition: all 0.3s;
}
.btn{
  margin-top: 55px;

}
// .btn1{
//   width:40%;
//   border-radius:60px ;
//   border: 0 !important;
//   border-color: #ee9c6a !important;
//   box-shadow: none !important;
//   color: #ee9c6a;
//   padding: 10px 12px;
// }
.user-img {
  border-radius: 25px;
}





































// .card-group{
//     margin-top: 150px;
//    }
//    .btn1{
//        margin-left: 320px;
//        width: 100px;
//        position: left;
//        background-color: #FF9333;
//        border-color: #002b5c;
//        border-radius: 4px;
//    }
//    .btn2{
//        // margin-left: 320px;
//        background-color: #FF9333;
//        border-radius: 4px;
//        border-color: #002b5c;
   
//    }
//    .btn{
//        color: whitesmoke;
//        text-align: left;
//    }
// //    .h2{
// //        color: aliceblue;
// //        font-size: 25px;
// //        text-align: left;
// //    }
//    .heading{
//        text-align: left;
//        color: #002b5c;
//    }
//    input.ng-touched.ng-invalid{
//        border: 1px solid red;
//    }
//    .card{
//        background-color: #FF9333;
//        border-radius: 8px;
//    }
//    .login{
//        text-align: center;
//        color: aliceblue;
//    }