body {
  background: #f9f9f9;
}

.pt-100 {
  padding-top: 100px;
}
.dashboard {
  padding-top: 60px;
}
.input-group-append {
  margin-left: -1px;
}
.search-icon {
  position: absolute;
  right: 25px;
  bottom: 8px;
}
.btn-default {
  background: white;
}
.custom-filter button {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.75rem;
}
.custom-filter input {
  background: #fafafa;
  border: 0;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
}
.custom-filter input:focus {
  outline: none;
}
.target {
  background-color: #2d6169;
  border-radius: 7px;
}
.color-order {
  color: #609ba1;
}

.text-secondary-befullifilled {
  color: #c8bfb5;
  font-size: 0.875rem;
  padding: 10px 10px;
  cursor: pointer;
}
.order-tabs li.active,
.order-tabs li:hover {
  border-bottom: 2px solid #ee9c6a;
}
.order-tabs li {
  border-bottom: 2px solid transparent;
  padding: 0 12px;
}
.order-tabs li:hover a,
.order-tabs li.active a {
  color: #ee9c6a;
}
.search-order::-webkit-input-placeholder {
  /* Edge */
  color: #e1dcd7;
}

.search-order:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e1dcd7;
}

.search-order input::placeholder {
  color: #e1dcd7;
}
.rounded-3 {
  border-radius: 10px;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 10px;
}
.page-link {
  color: #000;
}
.page-step.page-link {
  border-color: #ee9c6a;
  color: #ee9c6a;
}
.page-link:hover,
.page-link.active {
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #ee9c6a;
  border-color: #ee9c6a;
}
.bg-orange-radious {
  background: #fcf0ea;
  color: #000;
  padding: 4px 12px;
  border-radius: 19px;
}
.dot-orange {
  width: 10px;
  height: 10px;
  background: #ee9c6a;
  display: inline-block;
  border-radius: 100%;
  margin-right: 10px;
}
.text-order {
  color: #a7a7a7;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
.track_tbl th,
.track_tbl td {
  border: none !important;
  vertical-align: middle !important;
}
.track_tbl.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}
.badge {
  padding: 10px 15px;
  font-size: 11px;
}
.badge-light-success {
  background: #ecf7ee;
}
.badge-light-danger {
  background: #fcf0f1;
}
.bullet {
  width: 0.625rem;
  height: 0.625rem;
  display: inline-block;
  border-radius: 50%;
}
.bullet.bullet-success {
  background: #69d95e;
}
.bullet.bullet-danger {
  background: #e63838;
}
