<div class="card my-2 border-0">
  <div class="card-header bg-transparent p-0">
    <ul class="nav tabs order-tabs">
      <li class="nav-item active">
        <a class="nav-link text-secondary-befullifilled">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary-befullifilled">Unlimited</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary-befullifilled">Unpaid</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-secondary-befullifilled"
          tabindex="-1"
          aria-disabled="true"
          >Open</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-secondary-befullifilled"
          tabindex="-1"
          aria-disabled="true"
          >Closed</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary-befullifilled" aria-current="page"
          >POS</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary-befullifilled">Emma</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary-befullifilled">Mobile App</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-secondary-befullifilled"
          tabindex="-1"
          aria-disabled="true"
          >NextDayShip</a
        >
      </li>
    </ul>
    <div class="order-tab"></div>
  </div>

  <div class="card-body px-2">
    <div class="offset-md-4 col-md-8">
      <div class="custom-filter py-2 d-flex justify-content-end">
        <div class="search-order position-relative col-3 px-0 btn-group">
          <input type="search" class="w-100" placeholder="Search people" />

          <img src="../assets/loupe.png" class="search-icon" />
        </div>

        <!-- Example single danger button -->
        <div class="btn-group mx-1">
          <button
            type="button"
            class="dropdown-toggle btn-default py-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Status
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
            <a class="dropdown-item">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
          </div>
        </div>

        <!-- Example single danger button -->
        <div class="btn-group mx-1">
          <button
            type="button"
            class="dropdown-toggle btn-default py-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Payment status
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
            <a class="dropdown-item">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
          </div>
        </div>
        <!-- Example single danger button -->
        <div class="btn-group mx-1">
          <button
            type="button"
            class="dropdown-toggle btn-default py-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Fulfillment status
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
            <a class="dropdown-item">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
          </div>
        </div>
        <!-- Example single danger button -->
        <div class="btn-group mx-1">
          <button
            type="button"
            class="dropdown-toggle btn-default py-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            More filters
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
            <a class="dropdown-item">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
          </div>
        </div>
        <!-- Example single danger button -->
        <div class="btn-group mx-1">
          <button
            type="button"
            class="dropdown-toggle btn-default py-2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Sort By
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
            <a class="dropdown-item">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Separated link</a>
          </div>
        </div>
      </div>
    </div>
    <div style="overflow-x: auto">
      <table class="table table-striped track_tbl border-0">
        <thead>
          <tr>
            <th><input type="checkbox" /></th>
            <th>Orders</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Total</th>
            <th>Fulfillment</th>
            <th>Items</th>
            <th>Delivery method</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-muted small py-2">
            <td><input type="checkbox" /></td>

            <td><span class="">#72241</span></td>
            <td><span>Today at 4.09 pm</span></td>
            <td><span>Trisen Foster</span></td>
            <td><span>$ 135.82</span></td>

            <td>
              <span class="badge badge-pill badge-light-success">
                <span
                  class="
                    bullet bullet-success
                    font-small-3
                    mr-50
                    cursor-pointer
                  "
                ></span>
                Shipped
              </span>
            </td>

            <td><span>5 items</span></td>
            <td><span>Standard Group Shipping</span></td>
          </tr>
          <tr class="text-muted small py-2">
            <td><input type="checkbox" /></td>

            <td><span class="">#72241</span></td>
            <td><span>Today at 4.09 pm</span></td>
            <td><span>Trisen Foster</span></td>
            <td><span>$ 135.82</span></td>

            <td>
              <span class="badge badge-pill badge-light-success">
                <span
                  class="
                    bullet bullet-success
                    font-small-3
                    mr-50
                    cursor-pointer
                  "
                ></span>
                Shipped
              </span>
            </td>

            <td><span>5 items</span></td>
            <td><span>Standard Group Shipping</span></td>
          </tr>
          <tr class="text-muted small py-2">
            <td><input type="checkbox" /></td>

            <td><span class="">#72241</span></td>
            <td><span>Today at 4.09 pm</span></td>
            <td><span>Trisen Foster</span></td>
            <td><span>$ 135.82</span></td>

            <td>
              <span class="badge badge-pill badge-light-danger">
                <span
                  class="bullet bullet-danger font-small-3 mr-50 cursor-pointer"
                ></span>

                Pending
              </span>
            </td>

            <td><span>5 items</span></td>
            <td><span>Standard Group Shipping</span></td>
          </tr>
          <tr class="text-muted small py-2">
            <td><input type="checkbox" /></td>

            <td><span class="">#72241</span></td>
            <td><span>Today at 4.09 pm</span></td>
            <td><span>Trisen Foster</span></td>
            <td><span>$ 135.82</span></td>

            <td>
              <span class="badge badge-pill badge-light-success">
                <span
                  class="
                    bullet bullet-success
                    font-small-3
                    mr-50
                    cursor-pointer
                  "
                ></span>

                Shipped
              </span>
            </td>

            <td><span>5 items</span></td>
            <td><span>Standard Group Shipping</span></td>
          </tr>
          <tr class="text-muted small py-2">
            <td><input type="checkbox" /></td>

            <td><span class="">#72241</span></td>
            <td><span>Today at 4.09 pm</span></td>
            <td><span>Trisen Foster</span></td>
            <td><span>$ 135.82</span></td>

            <td>
              <span class="badge badge-pill badge-light-success">
                <span
                  class="
                    bullet bullet-success
                    font-small-3
                    mr-50
                    cursor-pointer
                  "
                ></span>

                Shipped
              </span>
            </td>

            <td><span>5 items</span></td>
            <td><span>Standard Group Shipping</span></td>
          </tr>
          <tr class="text-muted small py-2">
            <td><input type="checkbox" /></td>

            <td><span class="">#72241</span></td>
            <td><span>Today at 4.09 pm</span></td>
            <td><span>Trisen Foster</span></td>
            <td><span>$ 135.82</span></td>

            <td>
              <span class="badge badge-pill badge-light-success">
                <span
                  class="
                    bullet bullet-success
                    font-small-3
                    mr-50
                    cursor-pointer
                  "
                ></span>

                Shipped
              </span>
            </td>

            <td><span>5 items</span></td>
            <td><span>Standard Group Shipping</span></td>
          </tr>
          <tr class="text-muted small py-2">
            <td><input type="checkbox" /></td>

            <td><span class="">#72241</span></td>
            <td><span>Today at 4.09 pm</span></td>
            <td><span>Trisen Foster</span></td>
            <td><span>$ 135.82</span></td>

            <td>
              <span class="badge badge-pill badge-light-success">
                <span
                  class="
                    bullet bullet-success
                    font-small-3
                    mr-50
                    cursor-pointer
                  "
                ></span>

                Shipped
              </span>
            </td>

            <td><span>5 items</span></td>
            <td><span>Standard Group Shipping</span></td>
          </tr>
          <tr class="text-muted small py-2">
            <td><input type="checkbox" /></td>

            <td><span class="">#72241</span></td>
            <td><span>Today at 4.09 pm</span></td>
            <td><span>Trisen Foster</span></td>
            <td><span>$ 135.82</span></td>

            <td>
              <span class="badge badge-pill badge-light-success">
                <span
                  class="
                    bullet bullet-success
                    font-small-3
                    mr-50
                    cursor-pointer
                  "
                ></span>

                Shipped
              </span>
            </td>

            <td><span>5 items</span></td>
            <td><span>Standard Group Shipping</span></td>
          </tr>
          <tr class="text-muted small py-2">
            <td><input type="checkbox" /></td>

            <td><span class="">#72241</span></td>
            <td><span>Today at 4.09 pm</span></td>
            <td><span>Trisen Foster</span></td>
            <td><span>$ 135.82</span></td>

            <td>
              <span class="badge badge-pill badge-light-danger">
                <span
                  class="bullet bullet-danger font-small-3 mr-50 cursor-pointer"
                ></span>

                Pending
              </span>
            </td>

            <td><span>5 items</span></td>
            <td><span>Standard Group Shipping</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="dataTables_info text-order ml-2">
          0 selected/7,928 total
        </div>
      </div>
      <div class="col-sm-12 col-md-7">
        <nav aria-label="Page navigation example ">
          <ul class="pagination float-right">
            <li class="page-item">
              <a class="page-link rounded-3 page-step" aria-label="Previous ">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item mx-2">
              <a class="page-link rounded-3 active">1</a>
            </li>
            <li class="page-item mx-2">
              <a class="page-link rounded-3">2</a>
            </li>
            <li class="page-item mx-2">
              <a class="page-link rounded-3">3</a>
            </li>
            <li class="page-item mx-2">
              <a class="page-link rounded-3">4</a>
            </li>

            <li class="page-item">
              <a class="page-link rounded-3 page-step" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
