.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 20px 15px;
  background: #fbfbfb;
  border: 0;
  border-color:#ee9c6a;

  border-radius: 9px;
}
.login-form input:focus {
  outline: 0;
}
.Button-carry .btn {
  width: 60%;
  background: #ee9c6a;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-radius: 9px;
}

.Button-carry .btn1 {
  width: 45%;
  background: #ee9c6a;
  padding: 10px;
  font-size: 16px;
  margin-top: 40px;

  border: 0;
  color:#ffff;
  border-radius: 9px;
  border-radius: 5px;
  border-color: #ee9c6a;
}

.Button-carry .btn:focus,
.Button-carry .btn:active {
  border: 0 !important;
  background-color: #ee9c6a !important;
  box-shadow: none !important;
}
.Button-carry .btn:hover {
  border-radius: 40px;
  transition: all 0.3s;
}
.user-img {
    margin-bottom: 25px;
}




















// .card-group {
//   margin-top: 150px;
// }

//    .main{
//        background-color: #13C2B5;
//    }
// input.ng-touched.ng-invalid {
//   border: 1px solid red;
// }
// .card {
//   background-color: #ff9333;
//   border-radius: 10px;
// }
// .register {
//   text-align: center;
//   color: aliceblue;
// }
// .btn1 {
//   background-color: #ff9333;
//   border-radius: 4px;
//   border-color: #002b5c;
// }
// .signup {
//   color: #002b5c;
// }
// .btn {
//   border-radius: 3px;
//   border-color: #002b5c;
// }
// .h2 {
//   color: #002b5c;
//   font-size: 20px;
// }
