<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card border-0">
      <div class="card-body">
        <!-- <form
          #regForm="ngForm"
          novalidate
          (ngSubmit)="regForm.valid && onRegister()"
        > -->
        <form
          form
          #regForm="ngForm"
          novalidate
          (ngSubmit)="onRegister(regForm.valid)"
        >
          <div class="login-form p-4">
            <div class="title-login text-center">
              <img src="../assets/assets/logo1.png" class="user-img" />
            </div>
            <div class="form-content mt-4">
              <div class="form-group">
                <label class="d-block m-0">Enter Name</label>
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  [(ngModel)]="name"
                  name="Name"
                  #nameField="ngModel"
                  required="true"
                />
                <div
                  *ngIf="
                    regForm.submitted || nameField.touched || nameField.dirty
                  "
                >
                  <div
                    *ngIf="nameField.invalid"
                    class="invalid-fedback d-block"
                  >
                    Name is requird
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="d-block m-0">Enter Email Id</label>
                <input
                  type="text"
                  id="email"
                  name="email"
                  [(ngModel)]="email"
                  #emailField="ngModel"
                  class="form-control"
                  required="true"
                />
                <div
                  *ngIf="
                    regForm.submitted || emailField.touched || emailField.dirty
                  "
                >
                  <div
                    *ngIf="emailField.invalid"
                    class="invalid-feedback d-block"
                  >
                    Email ID is required
                  </div>
                </div>
              </div>
              <div class="login-field">
                <label class="d-block m-0">Enter Password</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  [(ngModel)]="password"
                  name="password"
                  #passwordField="ngModel"
                  required="true"
                />
                <div
                  *ngIf="
                    regForm.submitted ||
                    passwordField.touched ||
                    passwordField.dirty
                  "
                >
                  <div
                    *ngIf="passwordField.invalid"
                    class="invalid-feedback d-block"
                  >
                    Password is required
                  </div>
                </div>
              </div>
            </div>
            <div class="Button-carry text-center mt-3">
              <button
                class="btn btn-primary"
                type="button"
                value="Sign up"
              >
                SignUp
              </button>
              <button
                class="btn1"
                type="button"
                value="Sign up"
                routerLink="/login"
              >
                Login
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>

<!-- <div class="app-body">
  <div class="div d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form
                  #regForm="ngForm"
                  novalidate
                  (ngSubmit)="regForm.valid && onRegister()"
                >
                  <h1 class="register">Register</h1>
                  <h2>Sign Up to your account</h2>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="bi bi-person-circle"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      placeholder="Username"
                      autocomplete="username"
                      name="username"
                      [(ngModel)]="userName"
                      #userNameField="ngModel"
                      required="true"
                    />
                    <div
                      *ngIf="
                        regForm.submitted ||
                        userNameField.touched ||
                        userNameField.dirty
                      "
                    >
                      <div
                        *ngIf="userNameField.invalid"
                        class="invalid-feedback d-block"
                      >
                        UserName is required
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="bi bi-phone"></i
                      ></span>
                    </div>
                    <input
                      type="tel"
                      class="form-control"
                      required
                      id="mobile"
                      placeholder="Mobile No"
                      autocomplete="mobile"
                      ngModel
                      #mobileField="ngModel"
                      name="mobile"
                    /> -->
<!-- <span>{{ 'user.mobile'}}</span> -->
<!-- <div
                      *ngIf="
                        regForm.submitted ||
                        mobileField.touched ||
                        mobileField.dirty
                      "
                    >
                      <div
                        *ngIf="mobileField.invalid"
                        class="invalid-feedback d-block"
                      >
                        Mobile No is required
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="bi bi-lock"></i
                      ></span>
                    </div>
                    <input
                      type="email"
                      class="form-control"
                      required
                      id="email"
                      placeholder="Email ID"
                      autocomplete="current-password"
                      ngModel
                      #emailField="ngModel"
                      name="email"
                      required
                    />
                    <div
                      *ngIf="
                        regForm.submitted ||
                        emailField.touched ||
                        emailField.dirty
                      "
                    >
                      <div
                        *ngIf="emailField.invalid"
                        class="invalid-feedback d-block"
                      >
                        Email Id is required
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="bi bi-lock"></i
                      ></span>
                    </div>
                    <input
                    type="password"
                    class="form-control"
                    required
                    id="password"
                    placeholder="Password"
                    autocomplete="password"
                    [(ngModel)]="password"
                    #passwordField="ngModel"
                    name="password"
                    required="true"
                  /> -->
<!-- <div
                    *ngIf="
                      regForm.submitted ||
                      passwordField.touched ||
                      passwordField.dirty
                    "
                  >
                    <div
                      *ngIf="passwordField.invalid"
                      class="invalid-feedback d-block"
                    >
                      Password is required
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <button
                      type="button"
                      class="btn1 btn-primary px-4"
                      style="
                        width: 130px;
                        position: left;
                        border-radius: 5px;
                        margin-right: auto;
                      "
                      routerLink="/dashboard"
                    >
                      Register
                    </button>
                    <button
                      type="button"
                      class="btn1 btn-primary px-4"
                      style="width: 110px; position: left"
                      routerLink="/login"
                    >
                      login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
