<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form
                  #changePassForm="ngForm"
                  novalidate
                  (ngSubmit)="onChangePass()"
                >
                  <h1>Change Password</h1>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="bi bi-lock"></i
                      ></span>
                    </div>
                    <input
                      type="password"
                      placeholder="Enter New Password"
                      id="newPassword"
                      class="form-control"
                      name="newPassword"
                      [(ngModel)]="newPassword"
                      #NewPassField="ngModel"
                      required
                    />
                    <div
                      *ngIf="
                        changePassForm.submitted ||
                        NewPassField.touched ||
                        NewPassField.dirty
                      "
                    >
                      <div
                        *ngIf="PasswordField.invalid"
                        class="invalid-feedback d-block"
                      >
                        New Password is required
                      </div>
                      <div
                        *ngIf="password.length < 8"
                        class="invalid-feedback d-block"
                      >
                        Password should be atleast 8 characters.
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="bi bi-lock"></i
                      ></span>
                    </div>
                    <input
                      type="password"
                      placeholder="Enter Confirm Password"
                      id="confirmPassword"
                      class="form-control"
                      name="confirmPassword"
                      [(ngModel)]="confirmPassword"
                      #ConfirmPassField="ngModel"
                      required
                    />
                    <div
                      *ngIf="
                        ConfirmPassField.invalid &&
                        (changePassForm.submitted ||
                          ConfirmPassField.touched ||
                          ConfirmPassField.dirty)
                      "
                      class="invalid-feedback d-block"
                    >
                      Confirm Password is required.
                    </div>
                  </div>
                  <div class="row">
                    <button
                      type="button"
                      class="btn1 btn-primary px-4"
                      style="width: 100px; position: left; border-radius: 5px"
                      routerLink="/login"
                    >
                      Change password
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
