.border_radius{
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.bg-chat{
  background: #5eb0f8;
}


.icon img{
  width: 50px;
}
.attach_file img{
  width: 20px;
  position: absolute;
  right: 15px;
  top: 14px;
}
.input-group input[type=text]
{
  z-index: 0;
}
.attach_file input[type=file]
{
  opacity: 0;
  position: absolute;
  z-index: 99999;
  right: 0;
  width: 20px;
  right: 15px;
  top: 10px;
}
.hide
{
  display: none !important;
}
.heading_chat {
  padding: 10px 16px 10px 15px;
  margin: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
.heading-name-meta {
  font-weight: 700;
  font-size: 100%;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: block;
}
.submit_msg img{
  width: 30px;
  height: 30px;
  /* background: #ee9967; */
  transform: rotate( 
55deg
);
  /* border-radius: 23px; */
  display: block;
  margin: 5px auto;
}
.submit_msg
{
  background: #ee9967;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.form-control:focus
{
  box-shadow:none
}


.ussr_active_chat
{
  background: #fefaf7;

}
.user-chats 
{
  height: calc(100% - 65px - 65px);
    overflow-y: auto;
}
.user-chats::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.user-chats::-webkit-scrollbar-track {
  background: #f9f9f9; 
}
 
/* Handle */
.user-chats::-webkit-scrollbar-thumb {
  background: #ee9c6a; 
}

/* Handle on hover */
.user-chats::-webkit-scrollbar-thumb:hover {
  background:#f9f9f9 ; 
}
.online_icon{
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  border: 1.5px solid white;
}
.profile{
  position: relative;
}

.heading-avatar-icon{
  width: 50px;
  position: relative;
}
.image_icon{
  position: absolute;
    right: 15px;
    bottom: 9px;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
}




.chat-info {
  margin-top: .3rem;
  width: calc(100% - 46px - 46px);
  padding: 0 .75rem;
}
.chat-list li
{
  display: flex;
  padding: .786rem 0.786rem;
}
.chat-list li.active,.chat-list li:focus
{
  background: #fefaf7;
  border-radius: 10px;
}
.chat-list li:hover
{
  cursor: pointer;
background: #F8F8F8;
}
/* chat css */
.chats .chat-body {
  display: block;
  margin: 10px 0px 0 0;
  overflow: hidden;
}
.chat.chat-left .chat-content {
  float: left;
    margin: 0 0 10px 1rem;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgb(34 41 47 / 12%);
    max-width: 75%;
    border-radius: .357rem;
    clear: both;
    background: #5eb0f8;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.chat-content p {
  margin: 0;
}
.divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 1rem 0;
}
.divider .divider-text {
  position: relative;
  display: inline-block;
  font-size: .9375rem;
  padding: 0 1rem;
}
.divider .divider-text:after {
  right: 100%;
}
.divider .divider-text:before
{
  left: 100%;
}
.divider .divider-text:after, .divider .divider-text:before {
  content: '';
  position: absolute;
  top: 50%;
  width: 9999px;
  border-top: 1px solid #EBE9F1;
}
.chat-right .chat-content {
  float: right;
  padding: .7rem 1rem;
  margin: 0 1rem 10px 0;
  clear: both;
  background-repeat: repeat-x;
  border-radius: .357rem;
  box-shadow: 0 4px 8px 0 rgb(34 41 47 / 12%);
  max-width: 75%;
}


.chat-content {

  padding: .7rem 1rem;
  margin: 0 1rem 10px 0;
  clear: both;
  color: #5b5b5b;
  background-repeat: repeat-x;
  border-radius: .357rem;
  box-shadow: 0 4px 8px 0 rgb(34 41 47 / 12%);
  max-width: 75%;
  background: #f5f5f5
}
.avatar [class*=avatar-status-] {
  right: 1px;
  bottom: 1px;
  POSITION: ABSOLUTE;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #FFF;
}
.avatar .avatar-status-online {
  background-color: #4cd137;
}
.avatar
{
  white-space: nowrap;
    background-color: #C3C3C3;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    color: #FFF;
    display: inline-flex;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    height: 42px
}
