<div class="col-md-12 chat-box row">
  <div class="col-md-4 side p-0">
    <div class="d-flex heading_chat pl-0 align-items-center">
      <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar pl-1">
        <div class="heading-avatar-icon">
          <img src="../assets/face8.jpg" class="rounded-circle" width="50" />
          <span class="online_icon"></span>
        </div>
      </div>
      <div class="col-sm-8 col-xs-7 heading-name ml-4">
        <a class="heading-name-meta">John Doe </a>
        <small class="heading-online text-muted float-left ml-1 mt-1"
          >Designation</small
        >
      </div>
      <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar pl-1">
        <div class="heading-avatar-icon">
          <img src="../assets/settings.png" class="rounded-circle" width="16" />
        </div>
      </div>
    </div>
    <div class="bg-white py-3 my-2">
      <div class="px-2">
        <span class="icon">
          <label class="active-color">Active Chats</label>
        </span>
        <input
          type="text"
          placeholder="search people"
          class="form-control py-2"
        />
      </div>
      <div class="active_users_list px-2 h-100">
        <ul class="chat-users-list chat-list media-list mt-4">
          <li class="active">
            <span class="avatar"
              ><img
                src="../assets/face8.jpg"
                class="rounded-circle"
                height="42"
                width="42"
                alt="Generic placeholder image"
              />
              <span class="avatar-status-online"></span>
            </span>
            <div class="chat-info flex-grow-1">
              <h6 class="mb-0">Elizabeth Elliott</h6>
              <p class="card-text text-truncate">
                Cake pie jelly jelly beans. Marzipan lemon drops halvah cake.
                Pudding cookie lemon drops icing
              </p>
            </div>
            <div class="chat-meta text-nowrap">
              <small class="float-right mb-25 chat-time">4:14 PM</small>
              <span class="badge badge-danger badge-pill float-right">3</span>
            </div>
          </li>
          <li>
            <span class="avatar"
              ><img
                src="../assets/face8.jpg"
                class="rounded-circle"
                height="42"
                width="42"
                alt="Generic placeholder image"
              />
              <span class="avatar-status-busy"></span>
            </span>
            <div class="chat-info flex-grow-1">
              <h6 class="mb-0">Kristopher Candy</h6>
              <p class="card-text text-truncate">
                Cake pie jelly jelly beans. Marzipan lemon drops halvah cake.
                Pudding cookie lemon drops icing
              </p>
            </div>
            <div class="chat-meta text-nowrap">
              <small class="float-right mb-25 chat-time">9:09 AM</small>
            </div>
          </li>
          <li>
            <span class="avatar"
              ><img
                src="../assets/face8.jpg"
                class="rounded-circle"
                height="42"
                width="42"
                alt="Generic placeholder image"
              />
              <span class="avatar-status-away"></span>
            </span>
            <div class="chat-info flex-grow-1">
              <h6 class="mb-0">Sarah Woods</h6>
              <p class="card-text text-truncate">
                Cake pie jelly jelly beans. Marzipan lemon drops halvah cake.
                Pudding cookie lemon drops icing.
              </p>
            </div>
            <div class="chat-meta text-nowrap">
              <small class="float-right mb-25 chat-time">5:48 PM</small>
            </div>
          </li>
          <!-- <li class="no-results">
            <h6 class="mb-0">No Chats Found</h6>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-8 conversation">
    <div class="row heading_chat">
      <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
        <div class="heading-avatar-icon">
          <img src="../assets/face8.jpg" class="rounded-circle" width="50" />
          <span class="online_icon"></span>
        </div>
      </div>
      <div class="col-sm-8 col-xs-7 heading-name">
        <a class="heading-name-meta">John Doe </a>
        <small class="heading-online float-left text-muted">Designation</small>
      </div>
    </div>
    <div class="px-2 py-3 chatbox bg-white my-2">
      <!-- Sender Message-->

      <div class="user-chats ps ps--active-y">
        <div class="chats">
          <div class="chat chat-left">
            <div class="chat-body">
              <div class="d-flex">
                <div class="chat-content">
                  <p>Hey John, I am looking for the best admin template.</p>
                  <p>Could you please help me to find it out? 🤔</p>
                </div>
                <span class="text-muted py-2 ml-3 d-inline-block mt-3 fs-13"
                  >12:00 PM | Aug 13</span
                >
              </div>
              <div class="d-flex">
                <div class="chat-content">
                  <p>It should be Bootstrap 4 compatible.</p>
                </div>
                <span class="text-muted py-2 ml-3 d-inline-block mt-3 fs-13"
                  >12:00 PM | Aug 13</span
                >
              </div>
            </div>
          </div>
          <div class="divider">
            <div class="divider-text">June 2021</div>
          </div>
          <div class="chat-right">
            <div class="chat-body">
              <div class="float-right">
                <span class="text-muted py-2 mr-3 d-inline-block mt-3 fs-13"
                  >12:00 PM | Aug 13</span
                >
                <div class="chat-content">
                  <p>It should be Bootstrap 4 compatible.</p>
                </div>
              </div>
              <div class="float-right">
                <span class="text-muted py-2 mr-3 d-inline-block mt-3 fs-13"
                  >12:00 PM | Aug 13</span
                >
                <div class="chat-content">
                  <p>Absolutely!</p>
                </div>
              </div>
              <div class="float-right">
                <span class="text-muted py-2 mr-3 d-inline-block mt-3 fs-13"
                  >12:00 PM | Aug 13</span
                >
                <div class="chat-content">
                  <p>
                    Vuexy admin is the responsive bootstrap 4 admin template.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex bg-white py-3">
        <div class="input-group">
          <div class="icon mr-3 ml-3">
            <img src="../assets/face8.jpg" class="rounded-circle" />
          </div>
          <input
            type="text"
            placeholder="Type a message"
            class="form-control border-0 py-4 bg-light"
          />
          <div class="attach_file position-relative">
            <input type="file" />
            <img src="../assets/paperclip.png" />
          </div>
          <div class="submit_msg ml-3 mr-3">
            <img src="../assets/paper-plane.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
