.heading_chat {
  padding: 10px 16px 10px 15px;
  margin: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
.heading-avatar-icon {
  width: 50px;
  position: relative;
}
.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  border: 1.5px solid white;
}
.side .heading-name-meta {
  line-height: 0.7;
}

.heading-name-meta {
  font-weight: 700;
  font-size: 100%;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: block;
}
.messages-box {
  height: 510px;
  overflow-y: scroll;
}
.list-group-item {
  border: none;
  border-bottom: 1px solid #eee;
  border-left: 5px solid #fff;
}
.list-group-item.active,
.list-group-item:hover {
  background-color: #fefaf7 !important;
  border-left-color: #ee9c6a;
  border-top: none;
  border-bottom: 0;
  border-right: 0;
}
.messages-box::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.messages-box::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Handle */
.messages-box::-webkit-scrollbar-thumb {
  background: #ee9c6a;
}

/* Handle on hover */
.messages-box::-webkit-scrollbar-thumb:hover {
  background: #f9f9f9;
}

/* chat message by sushma */
.messages-box {
  height: 510px;
  overflow-y: scroll;
}
