<div class="d-flex justify-content-between pt-3 pb-2 mb-3">
  <div class="col-md-7 p-0">
    <div class="col-md-12 p-0 d-flex">
      <div class="col-md-6 pl-0">
        <div class="card">
          <div class="card-body d-flex bg-transparent">
            <div class="order-text col-md-8">
              <h5 class="font-weight-bold mb-0 text-secondary">
                Shopify orders
              </h5>

            </div>

            <div class="date col-md-4">
              <div class="row">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Date"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{ isAnimated: true }"
                  />
                </div>
              </div>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body"></div>
        </div>
      </div>
      <div class="col-md-6 pl-0">
        <div class="card">
          <div class="card-body d-flex bg-transparent">
            <div class="order-text col-md-8">
              <h5 class="font-weight-bold mb-0 text-secondary">Shipment</h5>
            </div>

            <div class="date col-md-4">
              <div class="row">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Date"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{ isAnimated: true }"
                  />
                </div>
              </div>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12 pl-0 pt-3">
      <div class="card">
        <div class="card-header bg-transparent">
          <h5 class="font-weight-bold mb-0 text-secondary">Service Tickets</h5>
        </div>

        <hr class="my-0" />

        <div class="card-body">
          <div class="chart-wrapper">
            <canvas
              baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5 px-0">
    <div class="bg-white">
      <div class="bg-gray px-4 py-3">
        <p class="h5 mb-0 py-1">Activity Feed</p>
      </div>

      <div class="messages-box">
        <div class="list-group rounded-0">
          <a
            class="
              list-group-item list-group-item-action list-group-item-white
              rounded-0
            "
          >
            <div class="media">
              <img
                src="../assets/face8.jpg"
                alt="user"
                width="50"
                class="rounded-circle"
              />
              <div class="media-body ml-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-1"
                >
                  <div class="" routerLink="/dashboard/message">
                    <h5 class="mb-0">Jason Doe</h5>
                    <p class="text-info mb-2">
                      Project Name-<small class="text-muted">Task Name</small>
                    </p>
                  </div>

                  <small class="small font-weight-bold">-49 min</small>
                </div>
                <p class="font-italic mb-0 text-small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore.
                </p>
                <span class="float-right d-flex">
                  <div class="liked_div d-flex">
                    <img src="../assets/heart.svg" />
                    <span class="likes ml-1">21</span>
                  </div>
                  <div class="chaticon_div ml-4 d-flex mr-3">
                    <img src="../assets/chat.svg" />
                    <span class="likes ml-1">02</span>
                  </div>
                </span>
              </div>
            </div>
          </a>

          <a
            class="
              list-group-item list-group-item-action list-group-item-white
              rounded-0
            "
          >
            <div class="media">
              <img
                src="../assets/face8.jpg"
                alt="user"
                width="50"
                class="rounded-circle"
              />
              <div class="media-body ml-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-1"
                >
                  <h6 class="mb-0">Jason Doe</h6>
                  <small class="small font-weight-bold">-49 min</small>
                </div>
                <p class="font-italic mb-0 text-small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore.
                </p>
                <span class="float-right d-flex">
                  <div class="liked_div">
                    <img src="../assets/heart.svg" />
                    <span class="likes ml-1">21</span>
                  </div>
                  <div class="chaticon_div ml-4">
                    <img src="../assets/chat.svg" />
                    <span class="likes ml-1">02</span>
                  </div>
                </span>
              </div>
            </div>
          </a>

          <a
            class="
              list-group-item list-group-item-action list-group-item-white
              rounded-0
            "
          >
            <div class="media">
              <img
                src="../assets/face8.jpg"
                alt="user"
                width="50"
                class="rounded-circle"
              />
              <div class="media-body ml-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-1"
                >
                  <h6 class="mb-0">Jason Doe</h6>
                  <small class="small font-weight-bold">-49 min</small>
                </div>
                <p class="font-italic mb-0 text-small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore.
                </p>
                <span class="float-right d-flex">
                  <div class="liked_div">
                    <img src="../assets/heart.svg" />
                    <span class="likes ml-1">21</span>
                  </div>
                  <div class="chaticon_div ml-4">
                    <img src="../assets/chat.svg" />
                    <span class="likes ml-1">02</span>
                  </div>
                </span>
              </div>
            </div>
          </a>

          <a
            class="
              list-group-item list-group-item-action list-group-item-white
              rounded-0
            "
          >
            <div class="media">
              <img
                src="../assets/face8.jpg"
                alt="user"
                width="50"
                class="rounded-circle"
              />
              <div class="media-body ml-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-1"
                >
                  <h6 class="mb-0">Jason Doe</h6>
                  <small class="small font-weight-bold">-49 min</small>
                </div>
                <p class="font-italic mb-0 text-small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore.
                </p>
                <span class="float-right d-flex">
                  <div class="liked_div">
                    <img src="../assets/heart.svg" />
                    <span class="likes ml-1">21</span>
                  </div>
                  <div class="chaticon_div ml-4">
                    <img src="../assets/chat.svg" />
                    <span class="likes ml-1">02</span>
                  </div>
                </span>
              </div>
            </div>
          </a>

          <a
            class="
              list-group-item list-group-item-action list-group-item-white
              rounded-0
            "
          >
            <div class="media">
              <img
                src="../assets/face8.jpg"
                alt="user"
                width="50"
                class="rounded-circle"
              />
              <div class="media-body ml-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-1"
                >
                  <h6 class="mb-0">Jason Doe</h6>
                  <small class="small font-weight-bold">-49 min</small>
                </div>
                <p class="font-italic mb-0 text-small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore.
                </p>
                <span class="float-right d-flex">
                  <div class="liked_div">
                    <img src="../assets/heart.svg" />
                    <span class="likes ml-1">21</span>
                  </div>
                  <div class="chaticon_div ml-4">
                    <img src="../assets/chat.svg" />
                    <span class="likes ml-1">02</span>
                  </div>
                </span>
              </div>
            </div>
          </a>

          <a
            class="
              list-group-item list-group-item-action list-group-item-white
              rounded-0
            "
          >
            <div class="media">
              <img
                src="../assets/face8.jpg"
                alt="user"
                width="50"
                class="rounded-circle"
              />
              <div class="media-body ml-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-1"
                >
                  <h6 class="mb-0">Jason Doe</h6>
                  <small class="small font-weight-bold">-49 min</small>
                </div>
                <p class="font-italic mb-0 text-small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore.
                </p>
                <span class="float-right d-flex">
                  <div class="liked_div">
                    <img src="../assets/heart.svg" />
                    <span class="likes ml-1">21</span>
                  </div>
                  <div class="chaticon_div ml-4">
                    <img src="../assets/chat.svg" />
                    <span class="likes ml-1">02</span>
                  </div>
                </span>
              </div>
            </div>
          </a>

          <a
            class="
              list-group-item list-group-item-action list-group-item-white
              rounded-0
            "
          >
            <div class="media">
              <img
                src="../assets/face8.jpg"
                alt="user"
                width="50"
                class="rounded-circle"
              />
              <div class="media-body ml-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-1"
                >
                  <h6 class="mb-0">Jason Doe</h6>
                  <small class="small font-weight-bold">-49 min</small>
                </div>
                <p class="font-italic mb-0 text-small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore.
                </p>
                <span class="float-right d-flex">
                  <div class="liked_div">
                    <img src="../assets/heart.svg" />
                    <span class="likes ml-1">21</span>
                  </div>
                  <div class="chaticon_div ml-4">
                    <img src="../assets/chat.svg" />
                    <span class="likes ml-1">02</span>
                  </div>
                </span>
              </div>
            </div>
          </a>

          <a
            class="
              list-group-item list-group-item-action list-group-item-white
              rounded-0
            "
          >
            <div class="media">
              <img
                src="../assets/face8.jpg"
                alt="user"
                width="50"
                class="rounded-circle"
              />
              <div class="media-body ml-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-1"
                >
                  <h6 class="mb-0">Jason Doe</h6>
                  <small class="small font-weight-bold">-49 min</small>
                </div>
                <p class="font-italic mb-0 text-small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore.
                </p>
                <span class="float-right d-flex">
                  <div class="liked_div">
                    <img src="../assets/heart.svg" />
                    <span class="likes ml-1">21</span>
                  </div>
                  <div class="chaticon_div ml-4">
                    <img src="../assets/chat.svg" />
                    <span class="likes ml-1">02</span>
                  </div>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="route-content pl-0" id="routeContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
