.pt-100 {
  padding-top: 100px;
}
.dashboard {
  padding-top: 60px;
}

.project-left {
  border-right: 1px solid #eee;
  padding: 5px 0;
}
.project-left span {
  font-size: 11px;
}

.project-list-names {
  overflow: auto;
  white-space: nowrap;
}

.project-list-names::-webkit-scrollbar {
  height: 3px;
}

/* Track */
.project-list-names::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.project-list-names::-webkit-scrollbar-thumb {
  background: #eee;
}

/* Handle on hover */
.project-list-names::-webkit-scrollbar-thumb:hover {
  background: #eee;
}
.project-list-names span.active {
  background: #ee9c6a;
  color: #fff;
}
.order-tabs li.active,
.order-tabs li:hover {
  border-bottom: 3px solid #ee9c6a;
}
.order-tabs li:hover a,
.order-tabs li.active a {
  color: #ee9c6a;
}
.text-secondary-befullifilled {
  color: #c8bfb5;
}
.add-project {
  position: relative;
  width: 250px;
  height: 250px;
  border-style: dashed;
  color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-project input {
  opacity: 0;
  z-index: 99999;
}
.custom-project-choose {
  position: absolute;
}
.custom-project-choose img {
  width: 30px;
  display: block;
  margin: 10px auto;
}
.order-tabs li {
  padding: 5px 0;
}
.main-card {
  border-right: dashed;
  padding: 0px 20px 0 0;
  border-color: #d2d1d1;
  height: 50vh;
}

.main-card p {
  font-size: 0.75rem;
  margin: 0;
}
.demo-inline-spacing > * {
  margin-right: 0.5rem;
}
.avatar.avatar-lg .avatar-content {
  width: 50px;
  height: 50px;
  font-size: 1.714rem;
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: 1.06rem;
  justify-content: center;
}
.avatar {
  white-space: nowrap;
  background-color: #c3c3c3;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  color: #fff;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  border: 3px solid #fff;
}

.search-project input {
  background: #fff;
  border: 0;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
}
.search-icon {
  position: absolute;
  right: 25px;
  bottom: 10px;
}
.project-columns .col:last-child .main-card {
  border-right: 0;
}
@media only screen and (max-width: 768px) {
  .project-columns,
  .small-block {
    display: block !important;
  }
}
.addition-digit span {
  font-size: 1.33rem;
  color: #c3c3c3;
}
