.card-group{
    margin-top: 150px;
   }
   .card{
    background-color:#FF9333;
}
.btn1{
 background-color: #FF9333;
 border-color: #002b5c;
}
.forgot{
    text-align: center;
    color: whitesmoke;
    border-radius: 5px;
}