<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form
                  #forgotpassForm="ngForm"
                  novalidate
                  (ngSubmit)=" forgotpassForm .valid && onForgotPass()"
                >
                  <h1 class="forgot">forgot Password</h1>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="bi bi-phone"></i
                      ></span>
                    </div>
                    <input
                      type="email"
                      class="form-control"
                      id="emailId"
                      name="emailId"
                      placeholder="Email Address"
                      [(ngModel)]="emailId"
                      #EmailField="ngModel"
                      required="true"
                    />
                    <div
                      *ngIf="
                        EmailField.invalid &&
                        (forgotpassForm.submitted ||
                          EmailField.touched ||
                          EmailField.dirty)
                      "
                      class="invalid-feedback d-block"
                    >
                      Email Address is required
                    </div>
                  </div>
                  <button
                    type="button"
                    class="btn1 btn-primary px-4"
                    style="
                      width: 190px;
                      margin-left: 250px;
                      position: left;
                      border-radius: 5px;
                    "
                    routerLink="/login"
                  >
                    Forgot Password
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
