<body>
  <nav class="navbar navbar-light fixed-top bg-light flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 mb-0 h1 py-3 bg-white black"
      >[BE FULFILLED]</a
    >

    <ul class="px-3 m-0">
      <li class="nav-item dropdown d-xl-inline-block bell-ring">
        <a
          id="UserDropdown"
          data-toggle="dropdown"
          aria-expanded="false"
          class="nav-link"
        >
          <img width="16" src="../assets/bell.svg" alt="notification" />
          <span class="bell-icon"></span>
        </a>
        <div
          aria-labelledby="UserDropdown"
          class="notific dropdown-menu dropdown-menu-right navbar-dropdown"
        >
          <span class="titlenotification"> Notification </span>
          <ul class="noti_ul">
            <li>
              <a class="active d-flex align-items-center">
                <span class="nav_icon_small">
                  <img width="16" src="../assets/bell.svg" alt="" />
                </span>
                <span class="notifi_title">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry
                </span>
              </a>
            </li>
            <li>
              <a class="active d-flex align-items-center">
                <span class="nav_icon_small">
                  <img width="16" src="../assets/bell.svg" alt="" />
                </span>
                <span class="notifi_title">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry
                </span>
              </a>
            </li>
            <li>
              <a class="active d-flex align-items-center">
                <span class="nav_icon_small">
                  <img width="16" src="../assets/bell.svg" alt="" />
                </span>
                <span class="notifi_title">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item dropdown d-xl-inline-block">
        <a class="nav-link profile">
          <span class="profile-text d-none d-md-inline-flex"
            >Hi john smith</span
          >
          <img
            src="../assets/face8.jpg"
            alt="Profile image"
            class="img-xs rounded-circle"
          />
          <span class="image_icon"></span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-white sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active py-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-dashboard"
                >
                  <path
                    d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
                  ></path>
                  <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
                <span class="side-menu-name ml-2" routerLink="/dashboard/home">
                  Dashboard</span
                >
              </a>
            </li>
            <li class="nav-item" routerLink="/dashboard/orders">
              <a class="nav-link py-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-file"
                >
                  <path
                    d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"
                  ></path>
                  <polyline points="13 2 13 9 20 9"></polyline>
                </svg>
                <span class="side-menu-name ml-2">Orders</span>
              </a>
            </li>
            <li class="nav-item" routerLink="/dashboard/projectslist">
              <a class="nav-link py-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-shopping-cart"
                >
                  <circle cx="9" cy="21" r="1"></circle>
                  <circle cx="20" cy="21" r="1"></circle>
                  <path
                    d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
                  ></path>
                </svg>
                <span class="side-menu-name ml-2">Projects</span>
              </a>
            </li>
            <li class="nav-item" routerLink="/dashboard/invoices">
              <a class="nav-link py-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-users"
                >
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <span class="side-menu-name ml-2">Invoices</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-3" routerLink="/dashboard/users">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-bar-chart-2"
                >
                  <line x1="18" y1="20" x2="18" y2="10"></line>
                  <line x1="12" y1="20" x2="12" y2="4"></line>
                  <line x1="6" y1="20" x2="6" y2="14"></line>
                </svg>
                <span class="side-menu-name ml-2">Users</span>
              </a>
            </li>
            <li class="nav-item" routerLink="/dashboard/settings">
              <a class="nav-link py-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  col-md-9
                  ml-sm-auto
                  col-lg-10
                  px-4
                  dashboard
                  class="feather feather-layers"
                >
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                <span class="side-menu-name ml-2">Settings</span>
              </a>
            </li>
            <li class="nav-item" routerLink="/dashboard/help">
              <a class="nav-link py-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  col-md-9
                  ml-sm-auto
                  col-lg-10
                  px-4
                  dashboard
                  class="feather feather-layers"
                >
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                <span class="side-menu-name ml-2">Help</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="col-md-9 ml-sm-auto col-lg-10 px-4 dashboard">
        <div class="route-content pl-0" id="routeContent">
          <router-outlet>
            <h2 class=""><strong>Good Morning,</strong> John</h2>
          </router-outlet>
        </div>
      </div>
    </div>
  </div>
</body>
