

body {
    font-family: sansserif !important;
    background-color: var(--gray-1);
}

.bell-ring {
    border-radius: 20px;
    background: white;
}
.bell-icon {
    position: absolute;
    height: 11px;
    width: 11px;
    background-color: #e62e2d;
    border-radius: 50%;
    top: 0;
    right: 0;
    /* border: 1.5px solid white; */
    box-shadow: 10px;
    text-shadow: 1px;
    text-shadow: 4px;
    /* text-shadow: 9px 2px 5px red; */
    /* box-shadow: 0px 1px 1px 1px red; */
    box-shadow: -2px 8px 10px -2px red;
}
.dropdown-menu.notific {
    box-shadow: 0 1px 7px 2px rgb(135 158 171 / 20%);
    width: 300px;
    padding: 0.625rem 1.25rem;
}
.noti_ul {
    list-style: none;
    padding: 0;
}
.nav_icon_small {
    margin-right: 1.25rem;
}
.notifi_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: pre-line;
    font-size: 0.9rem;
    color: #000;
    text-decoration: none;
}
.profile {
    position: relative;
}
.profile-text {
    color: #000;
    font-weight: 700;
}
.img-xs {
    width: 32px;
    height: 32px;
}
.image_icon {
    position: absolute;
    right: 15px;
    bottom: 9px;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
}
.sidebar .nav-item a:hover, .sidebar .nav-item a.active {
    background: #fefaf7;
    border-left-color: #ee9c6a;
    color: #ee9c6a !important;
}
.sidebar .nav-item a {
    border-left: 4px solid #fefaf7;
    font-size: 12px;
}
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
.side-menu-name {
    font-weight: 700;
}
.sidebar {
    position: fixed;
    overflow: auto;
    /* width: 14rem; */
    z-index: 4;
    height: 100vh;
    /* box-shadow: inset -1px 0px 0px 0px #dddddd; */
    background: #fff;
    padding: 80px 0 0;
}
.route-content {
    width: 100%;
    padding-top: 55px;
    padding-left: 8.5rem;
    transition: padding 0.5s;
  }